html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family:$main-font-stack;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.link {
  display: block;
  text-decoration: none;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
 .header {
  max-width: 100%;
  padding: 29px 0 230px;
  margin-bottom: 44px;
  background-image: url('../img/Layer15-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 170px;
}
  
  .header__logo {
    display: inline-block;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  .header__logo-link {
    color: #ffffff;
  }
  
  .header__navigation {
    min-width: 620px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
  
  .header__navigation-icon {
    display: block;
    width: 20px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    fill: #ffffff;
  }
  
  .header__navigation a {
    position: relative;
    color: #ffffff;
    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;

    .header__navigation a:hover,
  .header__navigation a:focus{  color: #fbdd89;
    fill: #fbdd89;}
  }
  
  
  .header__navigation-icon:hover,
  .header__navigation-icon:focus {
    color: #fbdd89;
    fill: #fbdd89;
  }
  
  .header__navigation a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fce38a;
  }
  
  .header__text {
    font-family: "Kaushan Script", cursive;
    text-align: center;
    color: #ffffff;
    font-size: 72px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 32px;
  }
  
  .header__title {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-size: 150px;
    line-height: 140px;
    font-weight: bold;
    margin: 0 auto;
    width: 820px;
    padding-bottom: 126px;
  }
  
  .header__button {
    display: block;
    height: 40px;
    border: 3px solid;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    width: 160px;
    color: #ffffff;
    background-color: transparent;
    margin: 0 auto;
  }
  
  .header__button:hover,
  .header__button:focus {
    color: #fbdd8a;
  }
  
  .features {
    margin-bottom: 92px;
  }
  
  .section__title {
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 84px;
  }
  
  .section__title-span {
    display: block;
    font-family: "Kaushan Script", cursive;
    text-transform: none;
    font-size: 24px;
    color: #333333;
    margin: 0;
  }
  
  .section__title::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 60px;
    height: 3px;
    bottom: 70px;
    background-color: #f38181;
  }
  
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .features__list-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
    margin-bottom: 14px;
  }
  
  .features__list-item {
    position: relative;
    width: 382px;
    padding-left: 82px;
    margin-bottom: 98px;
  }
  
  .features__list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .features__list-item p {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  
  .features__list-item::before {
    position: absolute;
    top: 5px;
    left: 22px;
  }
  
  .features__list-item--alarm::before {
    content: url(../img/alarm.svg);
  }
  
  .features__list-item--line_graph::before {
    content: url(../img/line_graph.svg);
  }
  
  .features__list-item--computer::before {
    content: url(../img/computer.svg);
  }
  
  .features__list-item--book::before {
    content: url(../img/book.svg);
  }
  
  .features__list-item--home::before {
    content: url(../img/home.svg);
  }
  
  .features__list-item--image::before {
    content: url(../img/image.svg);
  }
  
  .team {
    padding-bottom: 86px;
  }
  
  .team__text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 980px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  
  .team__list-item p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .team__list-name {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-bottom: 9px;
  }
  
  .team__list img {
    padding-bottom: 28px;
  }
  
  .team__list-position {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
  }
  
  .team__list-item {
    position: relative;
  }
  
  .team__list-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 470px;
    background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    );
    background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    );
    background-image: linear-gradient(
      360deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    );
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
            box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    top: -9px;
    left: -10px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  }
  
  .team__list-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 224px;
    height: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .team__list-item:hover .team__list-hover {
    visibility: visible;
    opacity: 1;
  }
  
  .team__list-icon {
    width: 56px;
    height: 56px;
    border: 1px solid #f9bd87;
    background-color: rgb(252, 227, 138);
    opacity: 0;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .team__list-item:hover .team__list-icon {
    visibility: visible;
    opacity: 1;
  }
  
  .hover__icon {
    display: block;
    padding: 15px;
    width: 56px;
    height: 56px;
    fill: rgb(243, 129, 129);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hover__icon:hover,
  .hover__icon:focus {
    background-color: rgb(243, 129, 129);
    fill: #ffffff;
  }
  
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 64px;
    border-top: 1px solid rgb(229, 229, 229);
  }
  
  .footer__text {
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    margin: 0;
  }
  
  .footer__text-2 {
    color: #fad0d0;
  }
  
  input::-webkit-input-placeholder {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
  }
  
  input::-moz-placeholder {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
  }
  
  input:-ms-input-placeholder {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
  }
  
  input::-ms-input-placeholder {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
  }
  
  input::placeholder {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
  }
  
  .form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
  }
  
  .footer__button {
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(149, 225, 211);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
  }
  
  .input__field {
    width: 230px;
    height: 40px;
    padding: 12px;
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header {
      background-image: url('../img/Layer15@2x-min.png');
    }
  }