*{
 box-sizing: border-box;
}
body{
    margin: 0;
}
.block-container{
    max-width: 1132px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.block-container img{
    margin-right: 60px;
}
.flex-container{
    display: flex;
}
 .flex-item{
     background-color: lightblue;
     border: 1px solid coral;
     color:#fff;
     padding: 15px;
     flex-grow: 1;
 }

 .products {
     padding: 85px 0;
 }
 .container{
     padding: 0;
     list-style: none;
     max-width: 992px;
     margin: 0 auto;
     display: flex;
     position: relative;
 }
 .column{
width:25%;
 }
 .product{
     display: block;
     text-align: center;
     padding:25px 0 38px;
     text-decoration: none;
     color:#000e22;
     border: 2px solid transparent;
 }
 .product:hover{
    border-color: #53C38E;
 }
 .product-title{
     font-size: 18px;
     font-family: Arial;
     margin: 0;
 }
 .product-image{
     display: inline-block;
     max-width: 100%;
     height: auto;
 }
 .image-wrapper{
     height: 225px;
     overflow: hidden;
     margin-bottom: 15px;
 }
 .navigation{
     position:absolute;
     height: 33px;
     top:0;
     bottom: 0;
     margin: auto;
     width: 100%;
 }
 .nav-btn{
     display: block;
     width: 25px;
     height: 33px;
     position: absolute;
     border: 0;
     background-color: transparent;
 }
 .nav-btn::before{
     content:'';
      position: absolute;
      width: 20px;
      height: 20px;
      border-left:1px solid #000;
      border-bottom:1px solid #000;
      top: 0;
      margin: 0;
      bottom: 0;
     }
     .prev-btn{
         left: -62px;
     }
     .next-btn{
         right: -62px;
     }
     .prev-btn::before{
transform: rotate(45deg);
     }
     .next-btn::before{
        transform: rotate(225deg);
        left: -6px;
    }
    .my-button{
        margin: 25px;
        display: block;
        width: 200px;
        background-color: #53C38E;
        border:1px solid #53C38E;
        font-family: Arial;
        font-size: 18px;
        line-height: 28px;
    cursor: pointer;
    transition: linear .5s;
}
.my-button:hover{
    background-color: transparent;
}