html{
    box-sizing: border-box;
}
*,*::before, *::after{box-sizing:inherit ;}

.wrapper{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
  
}
body{
    font-family: 'Playfair Display', 'Ubuntu', sans-serif;
  color: #626262;
    line-height: 24px;
    margin: 0;
  }
  .nav{
  
      padding: 0 53px;
  }

  .site-navigation
  {
     width: 900px;
      margin: 0;
      padding: 20px;
      font-size:14px;
    list-style: none;
    display: inline-block;
    text-align: center;
    
    
  }
  .site-navigation li{
      margin-right: 154px;
      display: inline-block;
  }
  .site-navigation li:last-child{
      margin-right: 0;
  }
  .site-navigation a{
color: #626262;
font-weight: 700px;
text-decoration: none;
line-height: 14px;
display: block;
margin: 0;

  }
  .features{
    font-size:0;
    list-style: none;  
    
    margin: 0;
      padding: 0;
     
  }
 
  .features .list-item {
    display: inline-block;
      width: 450px;
      margin: 0;
      margin-right: 10px;  
      vertical-align: top;
      margin-bottom: 10px;
  }
  .features .list-item p{
    font-size:16px;
  }
  .features .list-item:nth-child(2n){
      margin-right: 0;
  }
  .features .list-item h3{
      font-size: 30px;
      font-weight: 500 ;
      font-family:'Playfair Display', serif ;
      color:#626262;
      margin: 0px;
      margin-bottom: 10px;
  }

  .features .list-name {
      font-size: 14px;
     color: #c4bfbe ;
     line-height: 17px;
     font-family:'Ubuntu', serif ;
     margin:25px;
    
     margin-left: 0;
     margin-bottom: 10px;
    
  }
  .button {
    font-family:'Playfair Display', serif ;
    color:#626262;
    text-align: center;
    border: 1px solid #626262; 
    background: #ffffff;
    font-size: 14px; 
    padding: 5px 20px; 
 
    
  }
  button{
    
    display: block;
    margin: auto;
    
  }
 
  
 
