html{
    box-sizing: border-box;
}
*,*::before, *::after{box-sizing:inherit ;}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
  
}
body{
    font-family: 'Playfair Display', 'Ubuntu', sans-serif;
  color: #626262;
    line-height: 24px;
  }
  .nav{
      padding: 0 53px;
  }

  .site-navigation
  {
      width: 1200 px;
      margin: 0;
      padding: 20;
    font-size: 14px;
    list-style: none;
    display: inline-block;
    text-align: center;
    
    
  }
  .site-navigation li{
      margin-left: 154px;
      display: inline-block;
  }
  .site-navigation li:last-child{
      margin-right: 0;
  }
  .site-navigation a{
color: #626262;
font-weight: 700px;
text-decoration: none;
line-height: 14px;
  }
  .features{
    list-style: none;  
    margin: 0;
      padding: 0;
     
  }
  .features .list-item {
    display: inline-block;
      width: 520px;
      margin-right: 10px;  
      vertical-align: top;
  }
  .features .list-item:nth-child(2n){
      margin-right: 0;
  }
  .features .list-item h3{
      font-size: 30px;
      font-weight: 500 ;
      font-family:'Playfair Display', serif ;
      color:#626262;
      margin: 0;
  }
  .features .list-name {
      font-size: 14px;
     color: #c4bfbe ;
     line-height: 17px;
     font-family:'Ubuntu', serif ;
     margin: 25px;
     margin-left: 0;
    
    
  }
  .button {
    font-family:'Playfair Display', serif ;
    color:#626262;
    text-align: center;
    border: 1px solid #626262; 
    background: #ffffff;
    font-size: 14px; 
    padding: 5px 20px; 
 
    
  }
  button{
    
    display: block;
    margin: auto;
    
  }
 
  
 